{% extends 'base.html' %}

{% block content %}
    <br/>
    <div align="center"><img width="120" height="120" src="/static/images/portallogo.png"></div><br/><br/>
    <div class="container">
        <p> This is a Django based Job Portal. This application mainly has 2 users.</p>
        <p> Any Employer/Recruiter can register on this site as Employer and post
            any number of jobs and start the job campaign.</p>
        <p>Once the Job campaign gets over, the recruiter will be able
        to see the job applications which are ranked based on the profile match.</p>

        <p>Any person searching for a job can register to this portal. The employee will be able to see the jobs posted
            by different recruiters </p>
    </div><br/><br/>

    <div align="center">
        <h3>Contact Details:</h3><br/>
        <h5>9008599826 &nbsp; &nbsp; &nbsp; jasminedsilva96@gmail.com </h5>
    </div>
{% endblock %}
